.glowy {
    animation: glow 2.5s linear infinite;
}

.kitty {
    position: absolute;
    animation: kitten 0.6s steps(5) forwards;
    background-image: url('./components/LandingPage/Images/KittyOnName/spritesheet.png');
    height: 648px;
    width: 864px;
    z-index: 1;
    scale: 0.1;
    left: -62%;
    top: -334%;
}

.kitty-idly {
    position: absolute;
    animation: kitty-idle 1s steps(13) infinite;
    background-image: url('./components/LandingPage/KittyBall/Images/idle-spritesheet.webp');
    height: 364px;
    width: 396px;
    scale: 0.2;
}

.kitty-lefty {
    position: absolute;
    animation: kitty-standup 0.3s steps(4) forwards, 0.8s kitty-walk 0.4s steps(6) infinite;
    background-image: url('./components/LandingPage/KittyBall/Images/left-spritesheet.webp');
    height: 364px;
    width: 460px;
    scale: 0.2;
}

.kitty-righty {
    position: absolute;
    animation: kitty-standup 0.4s steps(4) forwards, 0.8s kitty-walk 0.4s steps(6) infinite;
    background-image: url('./components/LandingPage/KittyBall/Images/right-spritesheet.webp');
    height: 364px;
    width: 460px;
    scale: 0.2;
}

.hover-glowy:hover {
    animation: glow 1.5s linear infinite;
}

.dropdown-slidy {
    animation: dropdown-slide 0.2s linear forwards;
    transform-origin: top;
}

@keyframes glow {
    0% {
        color: #ff66b2;
    }
    33% {
        color: #9b59b6;
    }
    67% {
        color: #3498db;
    }
    100% {
        color: #ff66b2;
    }
}

@keyframes kitten {
    to { 
        background-position: -4320px;
    }
}

@keyframes dropdown-slide {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes kitty-idle {
    to {
        background-position: -5148px;
    }
}

@keyframes kitty-walk {
    from {
        background-position: -1840px;
    }
    to {
        background-position: -4600px;
    }
}

@keyframes kitty-standup {
    to {
        background-position: -1840px;
    }
}
